  body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  a.time {
    color: #999;
  }
  a.hash {
      color: #BBB;
      text-decoration: none;
  }
  .line {
    min-height: 22px;
    margin-bottom: 4px;
  }
  .msg-join, .msg-join a {
    color: #bbb;
  }
  .msg-wiki, .msg-wiki a, .msg-wiki a.author {
    color: #7e3db4;
  }
  .msg-twitter.retweet {
    opacity: 0.5;
  }
  .msg-twitter, .msg-twitter a {
    color: #2087e1;
  }
  a {
    color: #222299;
  }
  .nick, a.author {
    color: #a13d3d;
  }
  .msg-twitter a.author {
    color: #2087e1;
  }
  .author {
    font-weight: bold;
  }
  .avatar {
    margin-right: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: inline-block;
  }
  .avatar img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle;
  }
  
  .clear {
    clear: both;
  }
  
  .logs {
    padding: 10px;
  }
  
  .hilite {
    background-color: #fffdd0;
  }
  
  .skip {
    margin-bottom: 12px;
  }
  #bottom {
    margin-top: 12px;
  }
  
  @media (max-width: 640px) {
    body {
      width: 100%;
      font-size: 12px;
    }
    .line {
      margin-bottom: 4px;
    }
    .avatar img {
      width: 16px;
      height: 16px;
    }
  }
  
  .line:hover {
      background-color: #fffdeb;
  }
  
  .featured {
    font-size: 130%;
    margin: 20px 0;
  }
  
  .spam {
    color:lightgrey; 
    font-size: x-small;
    max-width:100%; 
    overflow:hidden; 
    text-overflow:ellipsis;
    margin-bottom: 1px;
    white-space: nowrap;
    min-height: 10px;
    opacity: 0.5;
  }
  .spam .avatar img {
    height: 10px;
  }



#indieweb-header {
  height: 30px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+1,cccccc+23,eeeeee+99 */
  background: #cccccc; /* Old browsers */
  background: -moz-linear-gradient(top, #cccccc 1%, #cccccc 23%, #eeeeee 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cccccc 1%,#cccccc 23%,#eeeeee 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cccccc 1%,#cccccc 23%,#eeeeee 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  border-bottom: #ddd 1px solid;
}
#indieweb-header .logo {
  height: 26px;
  margin-top: 2px;
  margin-left: 8px;
}
#chat-footer { 
  background: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#indieweb-header .item {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 26px;
  margin-right: 20px;
}
#set-timezone-form {
  padding-top: 6px;
}
#indieweb-header ul.right {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
#indieweb-header ul.right li {
  float: left;
  margin-left: 20px;
  line-height: 26px;
  font-size: 15px;
}
#indieweb-header .disabled {
  color: #999;
}

