<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteRule ^today$ today.php?channel=indieweb
    RewriteRule ^([a-z\-]+)/today$ today.php?channel=$1

    RewriteRule ^slack$ slack.php

    # Channel name only
    RewriteRule ^$ today.php?channel=indieweb
    RewriteRule ^([a-z\-]+)/?$ today.php?channel=$1

    # Calendar
    RewriteRule ^calendar calendar.php?channel=indieweb
    RewriteRule ^([a-z\-]+)/calendar calendar.php?channel=$1

    # Day pages
    RewriteRule ^([0-9]{4}-[0-9]{2}-[0-9]{2})$ day.php?channel=indieweb&date=$1
    RewriteRule ^([a-z\-]+)/([0-9]{4}-[0-9]{2}-[0-9]{2})$ day.php?channel=$1&date=$2

    # Chat Line Permalinks
    RewriteRule ^([0-9]{4}-[0-9]{2}-[0-9]{2})/([0-9]+)$ permalink.php?channel=indieweb&date=$1&timestamp=$2
    RewriteRule ^([a-z\-]+)/([0-9]{4}-[0-9]{2}-[0-9]{2})/([0-9]+)$ permalink.php?channel=$1&date=$2&timestamp=$3
</IfModule>
